body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background: #0d1b2a;
}
h1{
    color: #00eaff;
}
.container{
    position: relative;
    width: 30%;
    height: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid #00eaff;
    border-radius: 50%;
}

.login-box{
    position: relative;
    width: 300px;
    align-items: center;
    display: grid;
    place-items: center;
    background: transparent;
    justify-content: center;

}
.login-box input{
    border: 2px solid #00eaff;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    margin-bottom: 15px;
    background: transparent;
    color: white;
    justify-content: center;
    outline: none;
}
.login-box a{
    text-decoration: none;
    color: #00eaff;
    margin-bottom: 15px;
}
.login-box button{
    width: 100px;
    background-color: #00eaff;
    border-radius: 20px;
    margin-top: 10px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: black;
    font-size: larger;
    margin-bottom: 15px;
}
